.admin-select {
  padding: 10px;
  margin: 10px;
  height: 40px;
  width: 80px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-color: #dfdfdf;
  border-radius: 7px;
}

.admin-button,
.disabled-button {
  padding: 0px 10px;
  margin: 10px;
  height: 40px;
  color: #fff;
  background-color: #304c89;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 7px;
}

.admin-button:hover {
  background-color: #131e37;
}

#admin-table {
  width: 100%;
}

.disabled-button {
  background-color: #888 !important;
}
