#small-mar {
    margin-top: -10px;
}

#top-padded {
    margin-top: 25px;
}

#owner {
    font-size: 28px;
}

#overview-logo {
    width: 100px;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 3px 3px 10px 1px #000000;
    margin-bottom: 20px;
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }